*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 100%;
    height: 100%;
    background-image: /*linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5)),*/
    url("../assets/pexels-maxyne-barcel-10402282\ 1.png");
    background-size: cover;
    background-attachment: fixed;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 60px 0 60px;
    margin-top: 55px;*/
} 
.list{
    display: flex;
    align-items: center;
    /* gap: 63px; */
    list-style: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #ffc233;
}
.list-item{
    color: #ffc233;
    display: flex;
    align-items: center;
    gap: 63px;
}
.list-item li{
    align-items: center;
    justify-content: space-around;   
}
.list-item li a{
    color: #ffc233;
   /* margin-right: 80px; */
   /* padding-right: 80px; */
}
.hero{
     max-width: 1154px;
     margin: 0 auto;
     text-align: center;
     margin-top: 110px;
}
 h1{
    text-align: center;
    margin-top: 100px;
    color: #ffc233;
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;


} 
.large-button{
background-color: #ff505f;
font-weight: 700;
font-size: 25px;
line-height: 40px;
color: #ffffff;
border: none;
padding: 20px 40px;
margin-top: 40px;
cursor: pointer;

}
.large-button:hover{
    background-color:#ffffff ;
    color: #ff505f;
    border: 1px solid #ff505f; 
}
.bottom{
    position: absolute;
    bottom: 10px;
    right: 30px;
}
.small-button{
    background-color: #ff505f;
    font-weight: 500;
    font-size: 15px;
    /* line-height: 40px; */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    /* margin-top: 20px; */
    cursor: pointer;
}
.small-button:hover{
    background-color:#ffffff ;
    color: #ff505f;
    border: 1px solid #ff505f; 
}
.logo{
    height: 2vh;
    width: 2vw;
}